<!DOCTYPE html>
<html>

<head>
    <title>Factura</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'welcome.css')}}">
    <link rel="stylesheet" type="text/css" href="../static/facturas.css">

</head>

<body>
    {%extends "base.html" %}

    {% block page_content %}
    <main>
        <div class="container">
            <div class="title">
                <h1>Crear Factura</h1>
            </div>
            <form action="/crear_factura" method="POST">
                <h2>Datos del Cliente</h2>
                <div class="invoice-details">
                    <div class="input-box">
                        <span class="details">Rut del Cliente</span>
                        <input type="text" name="rut_cliente" id="rut_cliente" placeholder="123456789-K" required>
                    </div>

                </div>

                <h2>Datos del Producto</h2>
                <div class="invoice-details">
                    <div class="input-box">
                        <span class="details">Nombre del producto</span>
                        <input type="text" name="product_name" id="product_name" placeholder="Lavadora" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Precio</span>
                        <input type="number" name="product_price" id="product_price" placeholder="$100" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Cantidad</span>
                        <input type="number" name="product_quantity" id="product_quantity" placeholder="1" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Descripción</span>
                        <input type="text" name="product_description" id="product_description"
                            placeholder="Lavadora de blanco" required>
                    </div>

                </div>
                <input class="btn btn-dark" type="submit" value="Crear Factura">

            </form>
        </div>
    </main>
</body>
</form>
</div>
</main>
{% endblock %}
</body>

</html>