<!DOCTYPE html>
<html>

<head>
    <title>Factura</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'welcome.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="../static/facturas.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
    {%extends "base.html" %}

    {% block page_content %}
    <main>
        <div class="container">
            <div class="title">
                <h1>Crear Factura</h1>
            </div>
            <form action="/crear_factura" method="POST" target=”_blank”>
                <h2>Datos del Cliente</h2>
                <div class="invoice-details">
                    <div class="input-box">
                        <span class="details">N° de factura</span>
                        <input type="number" readonly name="folio" id="folio" placeholder="{{folio}}" value="{{folio}}">
                    </div>
                    <div class="input-box">
                        <span class="details">Fecha</span>
                        <input disabled name="date" id="date" value="{{fecha}}" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Descripción</span>
                        <input type="text" name="descripcion_factura" id="descripcion_factura" placeholder="Descripción">
                    </div>
                </div>
                <div id="div_productos">
                    <input type='hidden' name='productos_final' value=''>
                </div>
                <h2>Datos del Cliente</h2>
                <div class="invoice-details">
                    <div class="input-box">
                        <span class="details">Rut del Cliente</span>
                        <input type="text" name="rut_cliente" id="rut_cliente" placeholder="123456789-K" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Nombre del Cliente</span>
                        <input type="text" name="nombre_cliente" id="nombre_cliente" placeholder="Empresa XY" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Giro</span>
                        <input type="text" name="giro" id="giro" placeholder="Giro de empresa" required>
                    </div>
                </div>
                <h2>Datos del Producto</h2>
                <table class="content-table">
                    <thead>
                        <tr>
                            <th>Codigo de Articulo</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Precio Unitario</th>
                            <th>Cantidad</th>
                            <th>Subtotal</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody id="tabla-productos">
                    </tbody>
                </table>
                <button id="myBtn" class="btn btn-product" type="button">Añadir Producto</button>
                <input class="btn btn-dark" type="submit" id="btnCrearFactura" value="Crear Factura">
                <script type="text/javascript" src="../static/Modal.js"></script>
                <div class="modal fade" id="ModalProducto">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h2>Agregar Producto</h2>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            </div>

                            <div class="modal-body">

                                <div class="form-group">
                                    <label>Producto:</label>

                                    <select class="form-control select" id="CodigoProducto">
                                        <option disabled selected value> -- select an option -- </option>
                                        {% for i in range(0,maximo,1) %}
                                        <option id="{{ productos[i][0] }}" value="{{ productos[i] }}" >{{ productos[i][1] }}</option>
                                        {% endfor %}
                                    </select>
                                    <div class="form-row">
                                        <div class="form-group ">
                                            <label>Cantidad:</label>
                                            <input type="number" id="Cantidad" class="form-control" placeholder="" value="1" min="1">
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btnConfirmarAgregarProducto" class="btn btn-success">Agregar a
                                    la factura</button>
                            </div>
                        </div>
                    </div>
                </div>
        
            </form>
        </div>
    </main>
</body>
</div>
</main>
{% endblock %}
</body>

</html>