<table class="content-table">
    <thead>
        <tr>
            <th>{{columna1}}</th>
            <th>Cliente</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Descripción</th>
            <th>Sub_total</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Julio Perez</td>
            <td>Lavadora</td>
            <td>$100</td>
            <td>1</td>
            <td>Lavadora de blanco</td>
            <td>$100</td>
            <td>2020-05-05</td>
        </tr>
    </tbody>
</table>