{% block tabla%}
<table class="content-table">
    <thead>
        <tr>
            <th>{{columna1}}</th>
            <th>Cliente</th>
            <th>Producto</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Descripción</th>
            <th>Sub_total</th>
            <th>Fecha</th>
        </tr>
    </thead>
    <tbody>
        {% for item in my_list %}
        <tr>
            <td>{{ item.description }}</td>
            <td>{{ item.location }}</td>
            <td>{{ item.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}