<!DOCTYPE html>
<html>

<head>
    <title>Cotizaciones</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'welcome.css')}}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="../static/cotizaciones.css">
    <script src="../static/Search.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    


</head>

{%extends "base.html" %}

	{% block page_content %}
<div class="container">
    <h1>Cotizaciones Creadas</h1>
    <input type="text" id="myInput" onkeyup="search()" placeholder="Search for names.." title="Type in a name">
    <table id="table" class="content-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>ID Cliente</th>
                <th>Descripción</th>
                <th>Monto</th>
                <th>PDF</th>
                <th>Fecha</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for i in range(0,maximo,1) %}
				<tr>
					<td>{{ lista_cotizaciones[i][0] }}</td> <!-- ID-->
					<td>{{ clientes[i] }}</td> <!-- ID cliente-->
					<td>{{ lista_cotizaciones[i][1] }}</td> <!-- Descripcion-->
                    <td>{{ lista_cotizaciones[i][4] }}</td> <!-- Monto-->
                    <td>
                        <div id="datotexto" value="{{texto}}"></div>
                        <a><button type="button"  class="btn btn-primary">
                            <i class="fas fa-eye"> Ver</i>
                            </button>
                        </a>
                    </td>
					<td>{{ lista_cotizaciones[i][3] }}</td> <!-- fecha-->
                    <td>
                        <div class="accion">
                            <button href="" id="btnEditCot" class="edit" data-toggle="modal"><i class="material-icons"
                                data-toggle="tooltip" title="Edit">&#xE254;</i></button>
                            <button href="" id="btnDeleteCot" class="delete" data-toggle="modal"><i
                                    class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></button>
                        </div>
                        
                    </td>
				</tr>
			{% endfor %}
        </tbody>
    </table>
    <script src="../static/Cotiza.js"></script>
    <div id="editCotizacionModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Editar Cotización</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                </form>
                <form action="/editar_cotizacion" method="POST">
                    <div class="modal-body">
                        <input id="edit_id" name="edit_id" type="hidden" class="form-control" >
                        <div class="form-group">
                            <label>ID Cliente</label>
                            <input id="edit_cliente" name="edit_nombre" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Descripcion</label>
                            <input id="edit_descripcion" name="edit_descripcion" type="text" class="form-control" required>
                        </div>
                        <div class="form-group">
                            <label>Monto</label>
                            <input id="edit_monto" name="edit_monto" class="form-control" required>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-success" value="Guardar">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="deleteCotizaciontModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/delete_cotizacion" method="POST" >
                    <div class="modal-header">
                        <h4 class="modal-title">Borrar Cotización</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Estas seguro que quieres borrar esta cotización?</p>
                        <p class="text-warning"><small> Esta accion no se puede deshacer.</small></p>
                    </div>
                    <div class="modal-footer delete-footer">
                        <input id="delete_id" name="delete_id" type="hidden" class="form-control" >
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-danger" value="Borrar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</main>
<!--<div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" style="display: none" id="this-modal-id">
    <div class="modal-content" style="height:600px; width: 1200px;  overflow-y: scroll">
        <div class="modal-body ">
            <iframe width="100%" height="800px"></iframe>
        </div>-->
        <!-- /.modal-dialog -->
    <!--</div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ,onclick="reload()">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
    </div>
</div>
<input class="form-check-input" type="checkbox" name="hola" id="usarplantillacheck" value="1" required checked
    onclick="desplegarBoxes()" />
<label class="form-check-label" for="usarplantillacheck">
    Usar plantilla tradicional para generar resolució
    {% endblock %}
    </body>



    <script type="text/javascript">
        var texto = "{{ texto }}"

    </script>
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>-->
    <!-- Bootstrap popper Core JavaScript -->
   <!-- +
    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>

    <script src="https://github.com/devongovett/blob-stream/releases/download/v0.1.3/blob-stream.js"></script>


    <script src="{{url_for('static', filename='funcionesPdfPlantilla.js')}}"></script>
    <script src="{{url_for('static', filename='pdfkit.standalone.js')}}"></script>
    <script src="{{url_for('static', filename='pdfCreator.js')}}"></script>-->





</html>