<!DOCTYPE html>
<html>

<head>
    <title>Cotizaciones</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'welcome.css')}}">
    <link rel="stylesheet" type="text/css" href="../static/facturas.css">
    <script src="../static/Search.js"></script>

</head>

{%extends "base.html" %}

	{% block page_content %}
<div class="container">
    <h1>Cotizaciones Creadas</h1>
    <input type="text" id="myInput" onkeyup="search()" placeholder="Search for names.." title="Type in a name">
    <table id="table" class="content-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Cliente</th>
                <th>Producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Descripción</th>
                <th>PDF</th>
                <th>Fecha</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Julio Perez</td>
                <td>Lavadora</td>
                <td>$100</td>
                <td>1</td>
                <td>Lavadora de blanco</td>
                <td>
                    <div id="datotexto" value="{{texto}}">...</div>
                    <button type="button" class="btn btn-primary">
                        <i class="fas fa-eye"> VER</i>

                    </button>
                </td>
                <td>2020-05-05</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Julio Perez</td>
                <td>Lavadora</td>
                <td>$100</td>
                <td>1</td>
                <td>Lavadora de blanco</td>
                <td>
                    <div id="datotexto" value="{{texto}}">...</div>
                    <button type="button" class="btn btn-primary">
                        <i class="fas fa-eye"> VER</i>

                    </button>
                </td>
                <td>2020-05-05</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Julio Perez</td>
                <td>Lavadora</td>
                <td>$100</td>
                <td>1</td>
                <td>Lavadora de blanco</td>
                <td>
                    <div id="datotexto" value="{{texto}}">...</div>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#this-modal-id"
                        onclick="mostrarpdf()">
                        <i class="fas fa-eye"> VER</i>

                    </button>
                </td>
                <td>2020-05-05</td>
            </tr>
    </table>
</div>
</main>
<div class="modal bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
    aria-hidden="true" style="display: none" id="this-modal-id">
    <div class="modal-content" style="height:600px; width: 1200px;  overflow-y: scroll">
        <div class="modal-body ">
            <iframe width="100%" height="800px"></iframe>
        </div>
        <!-- /.modal-dialog -->
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" ,onclick="reload()">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
    </div>
</div>
<input class="form-check-input" type="checkbox" name="hola" id="usarplantillacheck" value="1" required checked
    onclick="desplegarBoxes()" />
<label class="form-check-label" for="usarplantillacheck">
    Usar plantilla tradicional para generar resolució
    {% endblock %}
    </body>



    <script type="text/javascript">
        var texto = "{{ texto }}"

    </script>
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <!-- Bootstrap popper Core JavaScript -->
    +
    <script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>

    <script src="https://github.com/devongovett/blob-stream/releases/download/v0.1.3/blob-stream.js"></script>


    <script src="{{url_for('static', filename='funcionesPdfPlantilla.js')}}"></script>
    <script src="{{url_for('static', filename='pdfkit.standalone.js')}}"></script>
    <script src="{{url_for('static', filename='pdfCreator.js')}}"></script>





</html>