<!DOCTYPE html>
<html>

<head>
	<title>Factura</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'welcome.css')}}">
	<link rel="stylesheet" type="text/css" href="../static/welcome.css">
	<link rel="stylesheet" type="text/css" href="../static/facturas.css">

</head>

<body>
	{%extends "base.html" %}

	{% block page_content %}
	<section>
		<div class="content">
			<div class="info">
				<h2>Bienvenido<br>
					<span>Sistema de facturación</span>
				</h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, asperiores unde, modi maiores
					itaque quam sit, dicta saepe dolorum perspiciatis nihil! Libero distinctio minus aspernatur
					praesentium rem ad beatae atque.</p>
				<h1>{{piece | safe}}</h1>
				<a href="#" class="info-btn">Más Información</a>
			</div>
			<table class="content-table">
				<thead>
					<tr>
						<th>Folio</th>
						<th>Cliente</th>
						<th>Fecha Emision</th>
						<th>Monto</th>
						<th>Descripción</th>
					</tr>
				</thead>
				<tbody>
					{% for item in my_list %}
					<tr>
						<td>{{ item.folio }}</td>
						<td>{{ item.cliente }}</td>
						<td>{{ item.fechaemision }}</td>
						<td>{{ item.monto }}</td>
						<td>{{ item.descripcion}}</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>


		</div>



		<div class="main">
			<h1 class="nombre">Hi, {{name}}</h1>
			<hr style="width: 30%">
			<h1 class="name">{{compraText}}</h1>
			<hr style="width: 30%">
			<h3 class="email">{{email}}</h3>

			<div id="datotexto" value="{{texto}}">...</div>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg"
				onclick="mostrarpdf()">
				<i class="fas fa-eye"> VER</i>

			</button>
		</div>
	</section>

	{% endblock %}
</body>









<script type="text/javascript">
	var texto = "{{ texto }}"

</script>
<script src="{{url_for('static', filename='jquery.min.js')}}"></script>
<!-- Bootstrap popper Core JavaScript -->
+
<script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>

<script src="https://github.com/devongovett/blob-stream/releases/download/v0.1.3/blob-stream.js"></script>


<script src="{{url_for('static', filename='funcionesPdfPlantilla.js')}}"></script>
<script src="{{url_for('static', filename='pdfkit.standalone.js')}}"></script>
<script src="{{url_for('static', filename='pdfCreator.js')}}"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>





</html>