<!DOCTYPE html>
<html>

<head>
	<title>Factura</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'welcome.css')}}">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="../static/welcome.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
	{%extends "base.html" %}

	{% block page_content %}
	<section>
		<div class="content">
			<div class="info">
				<h2>Bienvenido a tu sistema de facturación <i class="material-icons">&#xf0c5;</i></h2>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum veritatis nulla illum, ipsam error, facere ipsa corrupti voluptates aliquid eos mollitia nostrum. Dolores blanditiis cumque tempore aspernatur ducimus sed doloribus.</p>
					
				<a href="#" class="info-btn">Más Información</a>
			</div>
		</div>



		<!--<div class="main">
			<h1 class="nombre">Hi, {{name}}</h1>
			<hr style="width: 30%">
			<h1 class="name">{{compraText}}</h1>
			<hr style="width: 30%">
			<h3 class="email">{{email}}</h3>

			<div id="datotexto" value="{{texto}}">...</div>
			<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg"
				onclick="mostrarpdf()">
				<i class="fas fa-eye"> VER</i>

			</button>
		</div>-->
	</section>

	{% endblock %}
</body>









<script type="text/javascript">
	var texto = "{{ texto }}"

</script>
<script src="{{url_for('static', filename='jquery.min.js')}}"></script>
<!-- Bootstrap popper Core JavaScript -->
+
<script src="{{url_for('static', filename='bootstrap.min.js')}}"></script>

<script src="https://github.com/devongovett/blob-stream/releases/download/v0.1.3/blob-stream.js"></script>


<script src="{{url_for('static', filename='funcionesPdfPlantilla.js')}}"></script>
<script src="{{url_for('static', filename='pdfkit.standalone.js')}}"></script>
<script src="{{url_for('static', filename='pdfCreator.js')}}"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>





</html>