<!DOCTYPE html>
<html>

<head>
	<title>Welcome</title>
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'welcome.css')}}">
	<link rel="stylesheet" type="text/css" href="../static/welcome.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
	<header class="header-container">
		<nav class="navbar navbar-dark bg-dark">
			<a class="navbar-brand" href="#">SII</a>

			<div class="collapse navbar-collapse">
				<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#">Link</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Disabled</a>
				</li>
				</ul>
			</div>
		  </nav>
	</header>
	<div class="content">
		<div class="info">
			<h2><br>
				<span></span>
			</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita, asperiores unde, modi maiores itaque quam sit, dicta saepe dolorum perspiciatis nihil! Libero distinctio minus aspernatur praesentium rem ad beatae atque.</p>
			<a href="#" class="info-btn">Más Información</a>
		</div>
	</div>
	
</body>




<script type="text/javascript">

</script>

</html>